#main{
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 20px;
}

#title h1{
    padding-top: 20px;

    font-size: 40px;
    color: black;
}
#img-div{
    background-color: white;
    margin: 20px;
}
#imge{
    max-width: 90%;
    height: 300px;
}
#img-caption{
    font-size: 18px;
    padding: 10px 0;
}

#tribute-info{
    font-size: 18px;
    text-align: left;
    width: 600px;
    margin: auto;
}
#tribute-link{
    text-decoration: none;
}

ul li {
    padding: 10px 0 ;
}